In [85]:
#Importing the libraries

import numpy as np
import pandas as pd

In [86]:
#Creating a dataframe for each sheet from the file used for this analysis

df = pd.ExcelFile(r'C:\Users\Dolly\Downloads\data.xlsx')
df1 = pd.read_excel(df, 'Data Set 1')
df2 = pd.read_excel(df, 'Trns Data')
df3 = pd.read_excel(df, 'Fee Type Mapping')

In [88]:
#Merging Data Set 1 with Trns Data to create a common Dataframe
df4 = pd.merge(df1,df2, left_on = 'CS_NUMBER', right_on= "CST_NUMBER")
df4.dtypes

Fee Code            int64
Fee Description    object
dtype: object

In [89]:
#Changing data type for Fee Code from int to float to match 
df3['Fee Code'] = df3['Fee Code'].astype(float)
df3.dtypes

Fee Code           float64
Fee Description     object
dtype: object

In [80]:
#Merging common Dataframe with Fee Type Magging to align CS Number to Fee Type to create a final Dataframe

df_final = pd.merge(df4,df3, left_on= 'FEE_TYPE', right_on = 'Fee Code')

In [90]:
df_final.dtypes

CS_NUMBER                          int64
DOB                       datetime64[ns]
CST_NUMBER                         int64
Transaction / Fee Date    datetime64[ns]
Value                            float64
FEE_TYPE                         float64
Fee Code                         float64
Fee Description                   object
dtype: object

In [82]:
#Changing the datetime format of DOB column. Also, DOB column has many out of bound dates which couldn't be changes, hence used coerce option

df_final['DOB'] = pd.to_datetime(df_final['DOB'], infer_datetime_format=True, errors = 'coerce') 


df_final.dtypes

CS_NUMBER                          int64
DOB                       datetime64[ns]
CST_NUMBER                         int64
Transaction / Fee Date    datetime64[ns]
Value                            float64
FEE_TYPE                         float64
Fee Code                         float64
Fee Description                   object
dtype: object

In [95]:
#Filtering DOB falling after 1 September 2003 and Fee type of any type of Overdraft Fee

cst1 = df_final.loc[(df_final['DOB'] > '2003-09-01') & (df_final['Fee Description'].str.contains('Overdraft Fee', regex = True))]
print(cst1.iloc[:,0:1])

       CS_NUMBER
40729       1284
40792       2377
40803       2538
40819       2836
40889       3970
40953       5213
40991       5742
41076       7186
41119       7898
41138       8170
41316      11080
41402      12411
41654      17108
41708      18147
41743      18689
41793      19443
41818      19765
43175       3838
43196       4336
43248       5252
43268       5645
43314       6270
43327       6533
43344       6870
43385       7903
43387       7937
43391       8053
43451       9346
43489      10108
43536      11083
43568      11545
43570      11577
43670      13214
43703      13750
43968      18762
44006      19455
44026      19765