In [194]:
import numpy as np
import pandas as pd
import openpyxl

data = pd.read_excel(r'C:\Users\Dolly\Downloads\data.xlsx', sheet_name='Data Set 2')
type(data)

data.fillna('Missing')
data.dtypes

CST_NUMBER                     int64
RISK_RATING                   object
DATE_LAST_ASSESSED    datetime64[ns]
dtype: object

In [195]:
data['RISK_RATING'].value_counts()

# We have a total of 385 CST numbers with high rating and 65 CST numbers with H rating.

Low       17540
Medium     2017
High        385
H            65
Name: RISK_RATING, dtype: int64

In [196]:
#Final result Assuming High and H do not correspond to the same rating

data['DATE_LAST_ASSESSED'] = pd.to_datetime(data['DATE_LAST_ASSESSED'], format='%Y-%m-%d')

cst = np.where((data['RISK_RATING'] == 'High') & (data['DATE_LAST_ASSESSED'] < '2020-01-01'))
cst
display(data.loc[cst])

#print("Final result is:",cst)

       CST_NUMBER RISK_RATING DATE_LAST_ASSESSED
63             64        High         2019-02-17
363           364        High         2019-01-14
812           814        High         2019-10-29
1343         1346        High         2017-10-09
2183         2190        High         2017-06-20
5680         5692        High         2019-04-01
9431         9454        High         2017-11-16
10095       10119        High         2019-06-23
10280       10304        High         2017-04-14
10648       10674        High         2019-10-11
10757       10783        High         2017-09-04
11643       11671        High         2017-05-20
12699       12728        High         2017-07-14
12858       12887        High         2018-01-20
15331       15361        High         2017-11-16
15676       15707        High         2019-12-12
15819       15850        High         2019-04-28
17164       17199        High         2019-08-31
17450       17485        High         2017-11-20
17866       17902        High         2017-11-20

In [191]:
#Final result Assuming High and H correspond to the same rating. We replace H with High.

data['RISK_RATING'].replace({"H": "High"}, inplace=True)
data['RISK_RATING'].value_counts()

Low       17540
Medium     2017
High        450
Name: RISK_RATING, dtype: int64

In [187]:
data['DATE_LAST_ASSESSED'] = pd.to_datetime(data['DATE_LAST_ASSESSED'], format='%Y-%m-%d')

cst1 = data.loc[(data['RISK_RATING'] == 'High') & (data['DATE_LAST_ASSESSED'] < '2020-01-01')]

type(cst1)
cst1.count()
cst1.iloc[:,0:1].count()
print(cst1.iloc[:,0:1])

       CST_NUMBER
63             64
363           364
812           814
1343         1346
2183         2190
2969         2978
4285         4296
5680         5692
9431         9454
10095       10119
10280       10304
10648       10674
10757       10783
11643       11671
12699       12728
12858       12887
15331       15361
15676       15707
15819       15850
17164       17199
17450       17485
17866       17902
17955       17991
18304       18340